.create-event-title {
  width: 100%;
}

.create-event-time {
  display: flex;
}

.create-event-date-field {
  width: 110px;
}

.create-event-time-field {
  width: 100px;
}

.add-calendar-button {
  margin-top: 2em;
}
