.user-parent {
  --diameter: 1.9em;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.user-img {
  position: relative;
  width: var(--diameter);
  border-radius: 50%;
}

.user-text {
  position: relative;
  width: var(--diameter);
  height: var(--diameter);
  border-radius: 50%;
  font-size: 1em;
  line-height: var(--diameter);
  text-align: center;
  background-color: #dfdcdc;
  color: #707070;
}
