$hover-color: "##BFCCB7";
$active-color: "#A0B394";
$light-color: "#fcfcfc";

.calendar-room-cal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.calendar-room-cal-header-title {
  font-size: 1.2em;
  font-weight: 400;
}
.calendar-room-cal-nav-but-group {
  margin: 1em;
  display: flex;
  align-items: center;
}
.calendar-room-cal-view-but-group {
  margin: 1.5em;
  //border: medium solid #e0e0e0;
}
.calendar-room-container-parent {
  height: calc(100vh - 64px);
}
.calendar-room-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #fcfcfc;
}
.calendar-room-left-spacer {
  // width: 185px;
  // height: 20px;
  // margin: 12.8px;
  // background-image: linear-gradient(90deg, #C8D6C2 0%, #33710B 100%);
  // border-radius: 8px;
  margin-left: 1.5em;
  display: flex;
  flex-direction: row;
}
.calendar-room-title {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 64px;
  margin-left: 0.5em;
}
.calendar-room-title-wrapper {
  display: flex;
}
.calendar-room-toolar {
  display: flex;
  justify-content: space-between;
}
.today-button {
  margin-left: 3.4em;
}
.calendar-room-toolar-members {
  display: flex;
  align-items: center;
}
.expansion-panel {
  background-color: #fcfcfc;
  box-shadow: 0 0 0 0;
}
.favorite-button {
  color: #daa520;
}
.line-divider {
  width: 80%;
  display: flex;
  border-top: thin solid;
  margin-left: 1.75em;
  margin-bottom: 1.25em;
}
.navigation-buttons {
  margin-left: 1em;
  margin-right: 1em;
}
.sidebar-button {
  width: 80%;
  height: 3.5em;
  display: flex;
  align-items: center;
  margin-top: 6.3em;
}
.sidebar-button-elements {
  display: flex;
  align-items: center;
  margin-left: 1em;
}
.sidebar-button-name {
  font-weight: 600;
  font-size: medium;
  text-transform: uppercase;
  padding-left: 1em;
}
.sidebar-button-wrapper {
  display: flex;
  justify-content: center;
}
.sidebar-wrapper {
  width: 20em;
  background-color: #fcfcfc;
}
.sidebar-title-text {
  font-size: x-large;
  font-weight: 500;
  margin-left: 1.25em;
}
.sidebar-title-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1em;
}
.slide-toggle-wrapper {
  margin-top: 0.8em;
}
.suggestedTime:not(last-child) {
  width: 18em;
  text-align: left;
  border-radius: 0 0 0 0;
  border-bottom: 0px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
.suggestedTime:first-child {
  border-radius: 4px 4px 0 0;
}
.suggestedTime:last-child {
  border-bottom: thin solid;
  border-radius: 0 0 4px 4px;
}

.suggestedTimeList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fill-space {
  flex: 1 1 auto;
}

.logo-img {
  width: 2.5em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
.logo-img-container {
  display: flex;
  align-items: flex-start;
}
.calendar-view-button {
  margin-right: 3.4em;
}
.settings-button {
  margin-right: 1em;
}
