.calendar-room-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #fcfcfc;
}

.calendar-room-toolar {
  display: flex;
  justify-content: space-between;
}

.calendar-room-title-container {
  display: flex;
  align-items: center;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
}

.calendar-room-title {
  font-size: xx-large;
  font-weight: 600;
  margin-left: 10px;
}

.calendar-room-cal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.calendar-room-left-spacer {
  width: 185px;
  height: 48px;
  margin: 12.8px;
}
.calendar-room-cal-nav-but-group {
  margin: 1em;
  display: flex;
  align-items: center;
}

.calendar-room-cal-view-but-group {
  margin: 0.8em;
}

.calendar-room-cal-header-title {
  font-size: 1.5em;
  text-transform: uppercase;
}

.calendar-room-toolar-members {
  display: flex;
  align-items: center;
}

.calendar-wrapper {
  border-radius: 25px;
  overflow: hidden;
  margin: 0px 20px 20px 20px;
  box-shadow: 2px 7px 16px -1px rgba(212,212,212,1);
}

.favorite-button {
  color: #daa520;
}

.sidebar-wrapper {
  width: 275px;
  background-color: #fcfcfc;
}

.sidebar-button-wrapper {
  display: flex;
  justify-content: center;
}

.sidebar-button {
  width: 80%;
  height: 3.5em;
  display:flex;
  align-items:center;
  margin-top:6.3em;
}

.sidebar-button-elements {
  display: flex;
  align-items: center;
  margin-left:1em;
}

.sidebar-button-name {
  font-weight: 600;
  font-size: medium;
  text-transform: uppercase;
  padding-left:1em;
}

.invite-button-wrapper {
  width: 80%;
  margin-left:2em;
  margin-top:1.5em;
}

.invite-button-name {
  margin-left: 1em;
}
