<nb-layout>
  <nb-layout-header fixed>
    <app-header class="app-header"></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <main>
      <div *ngIf="auth.user$ | async">
        <button (click)="auth.getEvents()" class="button is-success">
          Get Events
        </button>
        <button (click)="auth.insertEvent()" class="button is-warning">
          Add Event
        </button>
        <button (click)="auth.getCalendars()" class="button is-warning">
          Get Calendar IDs
        </button>

        <div *ngFor="let item of auth.calendarItems">
          <h3>{{ item.summary }} - {{ item.status }}</h3>
          <p>
            <em>Created {{ item.created }}</em>
          </p>
          <p>{{ item.description }}</p>
          <hr />
        </div>

        <div *ngFor="let item of auth.calendarList">
          <h3>{{ item.id }}</h3>
          <hr />
        </div>
      </div>
    </main>

    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
