<main>
  <div *ngIf="!(auth.user$ | async)">
    <h1>Login with your Calendar Provider</h1>
    <br /><br />
    <button mat-raised-button (click)="googleSignIn()">
      <img src="/assets/google_logo.svg" /> Login with Google
    </button>
    <button mat-raised-button (click)="auth.microsoftSignIn()">
      <img src="/assets/microsoft_logo.svg" /> Login with Microsoft
    </button>
    <br /><br />
  </div>

  <div *ngIf="auth.user$ | async as user" class="logout">
    <img src="{{ user.photoURL }}" width="50px" />
    <p>
      Logged in as <strong>{{ user.email }}</strong>
    </p>

    <div *ngIf="!linkedToMicrosoft">
      <button mat-raised-button (click)="auth.linkWithMicrosoft()">
        <img src="/assets/microsoft_logo.svg" /> Link your Microsoft Account
      </button>
    </div>

    <button mat-raised-button (click)="auth.logout()">Logout</button>
  </div>
</main>
