.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.create-calendar-title {
  width: 100%;
}

.create-calendar-description {
  width: 100%;
}

.create-calendar-colors {
  left: 50%;
}
