<h4 class="add-calendar-title">Add Events</h4>
<p>Two weeks of events from selected calendars will be copied to the room.</p>

<!-- Google Sign In Template -->

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div *ngIf="this.gapiStatus">
    <div
      formArrayName="orders"
      *ngFor="let order of getControls(); let i = index"
    >
      <mat-checkbox [formControlName]="i">
        {{
          data.calendars[i].summaryOverride
            ? data.calendars[i].summaryOverride
            : data.calendars[i].summary
        }}</mat-checkbox
      >
    </div>
    <div class="add-calendar-button">
      <button mat-raised-button color="primary">Add Calendar</button>
    </div>
    </div>
  </form>


<!-- Msal Sign In Template -->
<ng-container  *ngIf="this.msalStatus">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div
      formArrayName="orders"
      *ngFor="let order of getControls(); let i = index"
    >
      <mat-checkbox [formControlName]="i">
        {{
          data.calendars[i].name
        }}</mat-checkbox
      >
    </div>
    <div class="add-calendar-button">
      <button mat-raised-button color="primary">Add Calendar</button>
    </div>
  </form>
</ng-container>

<!-- Error Checking, if we couldn't tell if they were using google or microsoft login -->
<!-- <ng-template *ngIf="!this.msalStatus && this.gapiStatus">
  <span> Hey, we couldn't find your calendar provider. Try again? </span>
</ng-template> -->
