.sidenav-container {
  height: 100%;
}

.logo {
  font-size: 2em;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  color: #87a27b;
}

.mat-drawer-side {
  border: none;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

.sidenav {
  width: 200px;
  font-family: sofia-pro;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fill-space {
  flex: 1 1 auto;
}

i {
  font-style: normal;
  font-size: 1.25em;
  margin-right: 16px;
}

.avatar {
  width: 2em;
  border-radius: 50%;
}

.avatar-container {
  margin-top: 0.3em;
  display: flex;
  align-items: flex-start;
}

.mat-toolbar-single-row {
  box-shadow: 0px 7px 24px -18px rgba(161,161,161,1);
  background-color: white;
  position:relative;
  z-index: 10;
}
