<mat-sidenav-container class="sidenav-container">
  <!-- SIDENAV -->

  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- TOP TOOLBAR-->

    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1 class="logo" routerLink="/">FreeThyme</h1>

      <span class="fill-space"></span>
      <a mat-button routerLink="/login" *ngIf="!(afAuth.authState | async)"
        >Login</a
      >

      <!-- DROPDOWN MENU -->

      <div *ngIf="afAuth.authState | async as user" class="avatar-container">
        <!-- Uses either a given photoURL or the default one with the first letter of their display name -->
        <a routerLink="/login">
          <ng-container *ngIf="user.photoURL">
            <img
              class="avatar"
              [src]="user.photoURL || 'assets/default-user.svg'"
            />
          </ng-container>
          <ng-container *ngIf="!user.photoURL">
            <div class="avatar-text">
              <span> {{ user.displayName[0] }}</span>
            </div>
          </ng-container>
        </a>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>

      <mat-menu #menu="matMenu">
        <a mat-menu-item>
          <span>Settings</span>
        </a>
      </mat-menu>
      <mat-icon> notifications </mat-icon>
    </mat-toolbar>

    <!-- TRANSCLUSION -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
