<div class="parent">
  <div id="background" [ngStyle]="{ background: accentColor }">
    <div
      id="container"
      matRipple
      [matRippleDisabled]="rippleDisabled"
      [ngStyle]="imageURL && { 'background-image': 'url(' + imageURL + ')' }"
    >
      <div class="top-container">
        <div class="favorite">
          <nb-icon
            icon="star-outline"
            [ngStyle]="{ color: accentColor }"
          ></nb-icon>
        </div>
        <div class="calendar-title">
          <span>{{ title }}</span>
        </div>
        <div class="calendar-information">
          <div class="calendar-overview">
            <span>{{ displayTime }} | {{ meetingType }}</span>
          </div>
          <div
            class="calendar-description"
            ellipsis
            [ellipsis-content]="description"
          ></div>
        </div>
      </div>
      <div class="bottom-container-user-share">
        <hr />
        <div class="user-share">
          <app-user-bar
            [userCount]="memberCount"
            [users]="members"
            [userImg]="profileImg"
          ></app-user-bar>
          <button
            nbButton
            (click)="test()"
            (mousedown)="rippleDisabled = true"
            (mouseup)="rippleDisabled = false"
          >
            Share
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
