@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.parent {
  --goldenRatio: 1.618;
  --height: 15em;
  --accentHeight: 0.3em;
  --borderRadius: 10px;
}

#background {
  border-radius: var(--borderRadius);
  width: calc((var(--goldenRatio) * var(--height)));
  height: var(--height);
  box-shadow: 4px 8px 6px 0px rgba($color: #000000, $alpha: 0.16);
}

#container {
  @include no-select;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: var(--accentHeight);
  border-radius: var(--borderRadius);
  width: calc((var(--goldenRatio) * var(--height)));
  height: calc(var(--height) - var(--accentHeight));
  background-color: white;
}

.calendar-title {
  height: 1.3em;
  font-size: 1.3em;
  font-weight: bold;
  margin: 1.8em 0.7em 0.4em 0.7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar-information {
  font-size: 0.9em;
  margin: 0em 0.7em 0.7em 0.7em;
}

.calendar-description {
  margin-top: 0.4em;
  height: 3em;
}

.calendar-overview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-container {
  position: relative;
}

.favorite {
  position: absolute;
  right: 0px;
  margin: 0.7em;
}

.user-share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0em 0.7em 0.7em 0.7em;
}
